@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-900 font-jakarta;
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #1c1917 #0c0a09; /* scroll thumb and track */
}
